# 今天我們要來講解下方這個爬取月報的 Function 囉！

# 先來讀資料！

In [1]:
import requests

# 指定爬取月報的網址
url = 'https://mops.twse.com.tw/nas/t21/sii/t21sc03_106_1_0.html'
# 抓取網頁
r = requests.get(url)

In [2]:
from io import StringIO
import pandas as pd

# 讓pandas可以讀取中文（測試看看，假如不行讀取中文，就改成 'utf-8'）
r.encoding = 'big5'
# 把剛剛下載下來的網頁的 html 文字檔，利用 StringIO() 包裝成一個檔案給 pandas 讀取
dfs = pd.read_html(StringIO(r.text))

### pandas 版本不同，會影響到新版的運行喔！所以我們先察看一下pandas的版本

In [3]:
pd.__version__

'0.24.2'

### 來處理一下資料，與影片版本相符(pandas 版本 0.23.x 以前可以使用)
### 假如panas版本是0.24.x以上，請略過此cell，並且前往下一個cell，

In [3]:
# 取出剛剛下載下來的 html 檔案裡面的第一個圖表，通常我們下載下來的第一個圖表 (dfs[0]) 就是月報的總表
df = dfs[0]

# --------------------------------------------- #
# 我們用 iloc 來取出所有的 rows  和 前十個 columns  #
# --------------------------------------------- #

# 在 [:,:10] 中，逗點前面指定 row 的 id，逗點後面用來指定 columns 的 id
# 用 「:」 代表，這裡的冒號前後都沒有放數字就代表了我們取頭到尾，「:10」，代表我們從第0個開始取到第9個
df = df.iloc[:,:10] 

# df = df[list(range(10))] <----影片中的寫法，可以取代上面那行，其中 list(range(10)) 是 [0,1,2,...,9]，用來選取第0到9個 column

# --------------------- #
# 設定正確的 columns 名稱 #
# --------------------- # 

# 首先我們可以先取出第0欄為「公司代號」的 rows (df[0] == '公司代號') 
column_name = df[df[0] == '公司代號']

# 選取 column_name 裡面任意一條 row 當作 column 的名稱 （因為這裡所有的 row 都長的一樣）
df.columns = column_name.iloc[0]

# 將 df 中的當月營收用 .to_numeric 變成數字，再把其中不能變成數字的部分以 NaN 取代（errors='coerce'）
df['當月營收'] = pd.to_numeric(df['當月營收'], errors='coerce')
# 再把當月營收中，出現 NaN 的 row 用 .dropna 整行刪除
df = df.dropna(subset=['當月營收'])

#df = df.loc[~pd.to_numeric(df['當月營收'], errors='coerce').isnull()] ---->影片中的寫法，可以取代上面兩行（以 .isnull() 檢查是否為 NaN，再取其否定「～」的行數作為新的 df）

# 刪除「公司代號」中出現「合計」的行數，其中「～」是否定的意思
df = df.loc[~(df['公司代號'] == '合計')]

# 將「公司代號」與「公司名稱」共同列為 df 的 indexes
df = df.set_index(['公司代號', '公司名稱'])

# 最後，將 df 中的所有字串轉成數值
df = df.apply(pd.to_numeric)
df.head()

IndexError: single positional indexer is out-of-bounds

In [11]:
df.columns.get_level_values(1)

Index(['公司代號', '公司名稱', '備註', '上月比較增減(%)', '上月營收', '去年同月增減(%)', '去年當月營收',
       '當月營收', '前期比較增減(%)', '去年累計營收', '當月累計營收'],
      dtype='object')

In [4]:
df = pd.concat([df for df in dfs if df.shape[1] <= 11 and df.shape[1] > 5])

In [13]:
df.columns = df.columns.get_level_values(1)

In [15]:
df['當月營收'] = pd.to_numeric(df['當月營收'], 'coerce')

In [17]:
df = df[~df['當月營收'].isnull()]

In [19]:
df = df[df['公司代號'] != '合計']

In [20]:
df

,公司代號,公司名稱,備註,上月比較增減(%),上月營收,去年同月增減(%),去年當月營收,當月營收,前期比較增減(%),去年累計營收,當月累計營收
0,1101,台泥,-,-34.89,9418581,-6.75,6575590,6131670,-6.75,6575590,6131670
1,1102,亞泥,-,-30.90,6023954,-17.84,5066062,4162130,-17.84,5066062,4162130
2,1103,嘉泥,-,-39.25,382981,17.90,197328,232657,17.90,197328,232657
3,1104,環泥,-,-21.55,463842,-2.53,373311,363865,-2.53,373311,363865
4,1108,幸福,-,-8.33,345573,-9.04,348266,316773,-9.04,348266,316773
5,1109,信大,-,-35.25,514449,-1.68,338758,333060,-1.68,338758,333060
6,1110,東泥,-,-26.97,142422,-25.89,140339,104003,-25.89,140339,104003
0,1201,味全,-,-1.08,1226869,0.03,1213101,1213521,0.03,1213101,1213521
1,1203,味王,-,-3.83,565174,-1.67,552771,543487,-1.67,552771,543487
2,1210,大成,-,-14.00,7296496,-0.35,6296474,6274308,-0.35,6296474,6274308
3,1213,大飲,-,54.22,50887,3.09,76124,78483,3.09,76124,78483
4,1215,卜蜂,-,-4.43,1723659,15.81,1422333,1647288,15.81,1422333,1647288
5,1216,統一,-,15.57,30085441,-13.92,40396873,34772056,-13.92,40396873,34772056
6,1217,愛之味,-,33.83,292255,7.63,363377,391125,7.63,363377,391125
7,1218,泰山,-,7.41,651183,-3.54,725188,699446,-3.54,725188,699446
8,1219,福壽,-,0.35,1005328,12.17,899361,1008902,12.17,899361,1008902
9,1220,台榮,-,-3.85,199012,-21.39,243424,191334,-21.39,243424,191334
10,1225,福懋油,-,-14.06,1035339,-5.07,937281,889754,-5.07,937281,889754
11,1227,佳格,-,9.90,3160613,-19.32,4305506,3473609,-19.32,4305506,3473609
12,1229,聯華,-,-8.25,431412,-19.47,491509,395780,-19.47,491509,395780
13,1231,聯華食,-,-5.36,719691,-6.85,731183,681056,-6.85,731183,681056
14,1232,大統益,-,3.42,1551665,15.26,1392257,1604792,15.26,1392257,1604792
15,1233,天仁,-,23.28,194746,9.61,219033,240083,9.61,219033,240083
16,1234,黑松,-,36.56,688434,35.56,693543,940172,35.56,693543,940172
17,1235,興泰,-,-41.27,6064,-22.04,4568,3561,-22.04,4568,3561
18,1236,宏亞,-,-31.24,327170,-31.91,330388,224932,-31.91,330388,224932
19,1702,南僑,-,-8.00,1583771,1.32,1437843,1456926,1.32,1437843,1456926
20,1737,臺鹽,-,15.25,207649,-1.18,242196,239319,-1.18,242196,239319
0,1301,台塑,-,-17.24,17893695,4.58,14158452,14807514,4.58,14158452,14807514
1,1303,南亞,-,-6.11,25560798,13.47,21149257,23998463,13.47,21149257,23998463
...,...,...,...,...,...,...,...,...,...,...,...
24,8481,政伸,-,-20.06,98906,-27.25,108686,79061,-27.25,108686,79061
25,8497,格威傳媒,-,-13.62,250003,26.13,171197,215938,26.13,171197,215938
26,9902,台火,本月營收較去年同期減少之主要原因係去年同期有銷售汽車之營收，但本月份無此營收，且銷售建材營收...,-84.54,8199,-84.12,7980,1267,-84.12,7980,1267
27,9904,寶成,-,-0.95,24131352,-6.72,25624848,23900808,-6.72,25624848,23900808
28,9905,大華,無,-5.50,621066,-9.11,645742,586897,-9.11,645742,586897
29,9907,統一實,-,-10.55,2778197,-30.71,3586559,2484943,-30.71,3586559,2484943
30,9910,豐泰,合併營業收入為本公司自結數,-12.10,4981300,-13.47,5060152,4378256,-13.47,5060152,4378256
31,9911,櫻花,-,-9.71,620380,-7.93,608383,560116,-7.93,608383,560116
32,9914,美利達,-,-18.46,1696147,-21.19,1754794,1382921,-21.19,1754794,1382921
33,9917,中保,-,-5.44,1172822,-0.36,1113056,1108988,-0.36,1113056,1108988
34,9919,康那香,-,-17.26,359320,-22.33,382761,297290,-22.33,382761,297290
35,9921,巨大,-,0.23,4132229,-9.38,4571050,4141944,-9.38,4571050,4141944
36,9924,福興,-,-2.49,736009,-7.81,778420,717620,-7.81,778420,717620
37,9925,新保,-,-6.66,623166,-3.09,600204,581640,-3.09,600204,581640
38,9927,泰銘,-,-17.03,932921,2.57,754528,773958,2.57,754528,773958
39,9928,中視,-,12.55,70114,-5.11,83170,78918,-5.11,83170,78918
40,9929,秋雨,"秋雨上海子公司已交割,105年5月起無營收",-5.03,69854,-37.13,105533,66340,-37.13,105533,66340
41,9930,中聯資源,-,2.40,612615,4.68,599261,627338,4.68,599261,627338
42,9933,中鼎,-,-41.29,8237124,16.14,4163018,4835309,16.14,4163018,4835309
43,9934,成霖,-,1.87,1469418,-18.29,1832130,1496998,-18.29,1832130,1496998
44,9935,慶豐富,-,12.10,294172,16.30,283537,329773,16.30,283537,329773
45,9938,百和,-,-18.74,881613,-3.91,745492,716322,-3.91,745492,716322
46,9939,宏全,-,27.52,1047006,4.79,1274055,1335204,4.79,1274055,1335204
47,9940,信義,-,-32.35,714799,-5.64,512448,483512,-5.64,512448,483512
48,9941,裕融,-,-3.56,1606461,6.24,1458166,1549218,6.24,1458166,1549218
49,9942,茂順,-,-25.85,275391,-19.22,252786,204199,-19.22,252786,204199
50,9944,新麗,-,-16.67,308192,-19.88,320514,256793,-19.88,320514,256793
51,9945,潤泰新,-,-41.10,1451972,-9.48,944698,855110,-9.48,944698,855110
52,9955,佳龍,"營收較去年同期增加,主要係因本期黃金價格上漲及黃金銷售量增加所致",110.94,137222,161.38,110743,289462,161.38,110743,289462
0,全部國內上市公司合計,全部國內上市公司合計,NaN,-12.88,2595582528,2.50,2205798189,2261140492,2.50,2205798189,2261141496

### pandas 版本0.24.x 以上可使用（如版本為0.23.x請跳過）

In [4]:
# 將dfs中，row長度介於5~11的table合併（這些才是我們需要的table，其他table不需要）
df = pd.concat([df for df in dfs if df.shape[1] <= 11 and df.shape[1] > 5])

# 設定column名稱
df.columns = df.columns.get_level_values(1)

# 將 df 中的當月營收用 .to_numeric 變成數字，再把其中不能變成數字的部分以 NaN 取代（errors='coerce'）
df['當月營收'] = pd.to_numeric(df['當月營收'], 'coerce')

# 再把當月營收中，出現 NaN 的 row 用 .dropna 整行刪除
df = df[~df['當月營收'].isnull()]

# 刪除「公司代號」中出現「合計」的行數，其中「～」是否定的意思
df = df[df['公司代號'] != '合計']

# 將「公司代號」與「公司名稱」共同列為 df 的 indexes
df = df.set_index(['公司代號', '公司名稱'])

df.head()

,,備註,上月比較增減(%),上月營收,去年同月增減(%),去年當月營收,當月營收,前期比較增減(%),去年累計營收,當月累計營收
公司代號,公司名稱,,,,,,,,,
1101,台泥,-,-34.89,9418581,-6.75,6575590,6131670,-6.75,6575590,6131670
1102,亞泥,-,-30.90,6023954,-17.84,5066062,4162130,-17.84,5066062,4162130
1103,嘉泥,-,-39.25,382981,17.90,197328,232657,17.90,197328,232657
1104,環泥,-,-21.55,463842,-2.53,373311,363865,-2.53,373311,363865
1108,幸福,-,-8.33,345573,-9.04,348266,316773,-9.04,348266,316773

# 存檔csv (全版本通用)

In [5]:
# ----------- #
# 存取 csv 檔  #
# ----------- #

# 把 df 存成 csv 檔，並且命名為「test.csv」，指定用「utf_8_sig」編碼
df.to_csv('test.csv', encoding='utf_8_sig')

# 讀取名為「test.csv」的 csv 檔，並且指定其中欄位名稱為「公司代號」與「公司名稱」作為 df 的 indexes
df = pd.read_csv('test.csv', index_col=['公司代號','公司名稱'])
df.head()

,,備註,上月比較增減(%),上月營收,去年同月增減(%),去年當月營收,當月營收,前期比較增減(%),去年累計營收,當月累計營收
公司代號,公司名稱,,,,,,,,,
1101,台泥,-,-34.89,9418581,-6.75,6575590,6131670,-6.75,6575590,6131670
1102,亞泥,-,-30.90,6023954,-17.84,5066062,4162130,-17.84,5066062,4162130
1103,嘉泥,-,-39.25,382981,17.90,197328,232657,17.90,197328,232657
1104,環泥,-,-21.55,463842,-2.53,373311,363865,-2.53,373311,363865
1108,幸福,-,-8.33,345573,-9.04,348266,316773,-9.04,348266,316773

# 存檔sqlite3 (全版本通用)

In [6]:
# --------------- #
# 存取 sqlite3 檔  #
# --------------- #

import sqlite3

# 把 df 存成名為「monthly_report」的 sqlite3 檔，其中 conn 是與 database 的連結
conn = sqlite3.connect('test.sqlite3')
df.to_sql('monthly_report', conn, if_exists='replace')

# 讀取 sqlite3 中名為「monthly_report」的 table，並且指定其中欄位名稱為「公司代號」與「公司代號」作為 df 的 indexes
df = pd.read_sql('select * from monthly_report', conn, index_col=['公司代號','公司名稱'])
df.head()

,,備註,上月比較增減(%),上月營收,去年同月增減(%),去年當月營收,當月營收,前期比較增減(%),去年累計營收,當月累計營收
公司代號,公司名稱,,,,,,,,,
1101,台泥,-,-34.89,9418581,-6.75,6575590,6131670,-6.75,6575590,6131670
1102,亞泥,-,-30.90,6023954,-17.84,5066062,4162130,-17.84,5066062,4162130
1103,嘉泥,-,-39.25,382981,17.90,197328,232657,17.90,197328,232657
1104,環泥,-,-21.55,463842,-2.53,373311,363865,-2.53,373311,363865
1108,幸福,-,-8.33,345573,-9.04,348266,316773,-9.04,348266,316773